{# Utilisation du squelette "second.html.twig" pour le back-office #}
{% extends 'second.html.twig' %}

{# Définition du titre de la page #}
{% block title %}Administration{% endblock %}

{# Remplissage du body de la page #}
{% block body %}

    <div class="bg-gray-100">
        <div class="text-center">
            <a href="{{ path('main_home') }}">Administration</a>
        </div>
    </div>

    <div class="container mx-auto">
        {# Lien pour retourner à la liste des enseignes #}
        <div class="text-center my-3">
            <a href="{{ path('enseigne_list') }}" class="text-blue-500 hover:text-blue-600 underline">Retour à la liste des enseignes</a>
        </div>
    </div>

    <div class="overflow-x-auto">
    <h1 class="text-2xl lg:text-4xl text-center font-bold my-4">Modification des enseignes</h1>
    <table class="table-auto w-full border-collapse">
        <thead>
        <tr>
            <th class="px-4 py-2">Titre</th>
            <th class="px-4 py-2">Contenu</th>
            <th class="px-4 py-2">Image</th>
            <th class="px-4 py-2">Actions</th>
        </tr>
{#        </thead>#}
{#        <tbody>#}
{#        {% for enseigne in enseigne %}#}
{#            <tr>#}
{#                <td>{{ enseigne.title }}</td>#}
{#                <td>{{ enseigne.content }}</td>#}
{#                <td>#}
{#                    {% if enseigne.image %}#}
{#                        <img class="w-32 h-50" src="{{ asset('images/' ~ enseigne.image) }}" alt="Image">#}
{#                    {% else %}#}
{#                        Aucune image#}
{#                    {% endif %}#}
{#                </td>#}
{#                <td>#}
{#                                        <a href="{{ path('enseigne_edit', {'id': enseigne.id}) }}">Modifier</a>#}
{#                                        <a href="{{ path('enseigne_supprimer', {'id': enseigne.id}) }}">Supprimer</a>#}
{#                </td>#}
{#            </tr>#}

{#        {% endfor %}#}
{#        </tbody>#}
    </table>

    {# Affichage du formulaire de modification d'enseignes #}
    {{ form( enseigneEdit_form ) }}

{% endblock %}