{% extends 'base.html.twig' %}

{# Définition du titre de la page #}
{% block title %}GLGC{% endblock %}

{# Remplissage du body de la page #}
{% block body %}

    {# Hero #}
    <div class="relative aspect-[3/1]">
        <img src="{{ asset('images/Com&Cie_HD-55.jpg') }}" class="h-full w-full object-contain object-right" alt="">

        <div class="absolute inset-0 bg-gradient-to-r from-blue-200/70 to-blue-700/70 w-3/4">
        </div>

        <div class="absolute inset-0 flex flex-col justify-center items-center">
            <img class="my-auto" src="{{ asset('images/glgc.png') }}" alt="Logo GLGC">

            <div class="space-y-4 pb-4">
                <p class="text-center uppercase">Groupe de communication</p>

                <a class="flex justify-center items-center h-8 w-8 mx-auto border border-black rounded-full animate-bounce" href="#bazinga">
                    <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                    </svg>

                </a>
            </div>
        </div>

    </div>

    {# Intro #}
    <div class="max-w-7xl mx-auto px-6 lg:px-8" id="bazinga">
        <div class="max-w-prose mx-auto py-16">
            <p class="text-gray-500">Découvrez l'art du numérique et de la créativité tangible ! Avec notre expertise en stratégies digitales percutantes, en impressions et signalétiques de qualité, ainsi qu'en design d'agencement et décoration d'espaces, nous transformons vos idées en réalité visuelle captivante. Que ce soit sur le web ou dans votre environnement physique, nous sommes là pour vous aider à marquer votre présence avec style et efficacité.</p>
        </div>
    </div>

    {# Img/Text Com&Cie #}
    <section class="max-w-7xl mx-auto px-6 py-6 lg:px-8">
        <div class="grid gap-8 md:grid-cols-2 md:items-center lg:gap-12">
            <div class="relative aspect-square h-full w-full object-cover bg-gray-400">
                <img src="{{ asset('images/Com&Cie_HD-7.jpg') }}" alt="">
            </div>
            <div class="absolute inset-0 flex justify-center">
                <div class="w-full max-w-[60%] bg-gradient-to-r from-yellow-500/70 to-yellow-500/70"></div>
            </div>

            <div class="space-y-6">
                <h2 class="text-2xl uppercase">Stratégie et Digital</h2>
                <p class="text-gray-500">Spécialiste de la communication web, impression, signalétique,<br> réseaux sociaux, agencement...</p>
                <p>
                    <a class="inline-flex gap-1 items-center" href="#">
                        Agence de communication
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                            <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                        </svg>

                    </a>
                </p>
            </div>
        </div>
    </section>

    {# Img/Text Quadripub #}
    <section class="max-w-7xl mx-auto px-6 py-6 lg:px-8">
        <div class="grid gap-8 md:grid-cols-2 md:items-center lg:gap-12">
            <div class="relative aspect-square h-full w-full object-cover bg-gray-400">
                <img src="{{ asset('images/quadripub1.png') }}" alt="">
            </div>
            <div class="absolute inset-0 flex justify-center">
                <div class="w-full max-w-[60%] bg-gradient-to-r from-yellow-500/70 to-yellow-500/70"></div>
            </div>

            <div class="space-y-6">
                <h2 class="text-2xl uppercase">Signalétique et Impression</h2>
                <p class="text-gray-500">Combine créativité et savoir-faire.<br> Graphistes, enseignistes, webdesigners <br> et poseurs relèvent quotidiennement vos challenges.</p>
                <p>
                    <a class="inline-flex gap-1 items-center" href="#">
                        Quadripub
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                            <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                        </svg>

                    </a>
                </p>
            </div>
        </div>
    </section>









    {# Grille Bootstrap #}
    <div class="container">
    
        <div class=" row main-banner">

        </div>
    
        <div class="row">
            <div class="col-12">

                <h2 class="text-center">Enseigne et signalétique</h2>
                    <div class="col-12 p-5 d-flex flex-wrap flex-lg-nowrap">
                        <div class="col-12 col-lg-6 col-xl-3  d-flex justify-content-center align-items-center">

                        <img class="quadripubimg" src="{{ asset('images/quadripub1.png') }}" style="width: 400px; height: 350px" alt="Enseigne Quadripub">

                        <img class="logoquadripub" src="{{ asset('images/quadripub.png') }}" alt="Logo Quadripub">
                        </div>
                        <div class="text">
                            <div class="text col-12 col-lg-8 p-5">
                                <p class="text">QuadriPub, combine créativité et savoir-faire.<br> Graphistes, enseignistes, webdesigners et poseurs relèvent quotidiennement vos challenges.
                                </p>
                                <button type="button" class="btn btn-outline-secondary btn-sm text-center">Voir plus <i class="fa-solid fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                <h2 class="text-center">Stratégie et digitale</h2>
                <div class="col-12 p-5 d-flex flex-wrap flex-lg-nowrap">
                    <div class="text col-12 col-lg-8 p-5 text-center">
                        <p class="text">Spécialiste de la communication web, impression, signalétique,<br> réseaux sociaux, agencement...
                        </p>
                        <button type="button" class="btn btn-outline-secondary btn-sm text-center">Voir plus <i class="fa-solid fa-arrow-right"></i>
                        </button>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-3 d-flex justify-content-center align-items-center">
                        <div class="carre">
                            <img class="comimg" src="{{ asset('images/Com&Cie.jpg') }}" style="width: 400px; height: 350px" alt="Enseigne Com&Cie">
                            <img class="logocom" src="{{ asset('images/Group.png') }}" alt="Logo Com&Cie">
                        </div>
                    </div>
                </div>

                <h2 class="text-center">Vêtements Bourguignons</h2>
                <div class="col-12 p-5 d-flex flex-wrap flex-lg-nowrap">
                    <div class="col-12 col-lg-6 col-xl-3  d-flex justify-content-center align-items-center">

                        <img class="temeraireimg" src="{{ asset('images/temeraires.jpg') }}" style="width: 400px; height: 350px" alt="Enseigne Téméraires">

                        <img class="logotemeraire" src="{{ asset('images/temeraires.png') }}" alt="Logo Les Téméraires">
                    </div>
                    <div class="text">
                        <div class="text col-12 col-lg-8 p-5">
                            <p class="text">Marque Bourguignonne sans prétention !
                                Parce que nous en avions envie, découvrez nos t-shirts.
                            </p>
                            <button type="button" class="btn btn-outline-secondary btn-sm text-center">Voir plus <i class="fa-solid fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <h2 class="text-center">Design d'espece</h2>
                <div class="col-12 p-5 d-flex flex-wrap flex-lg-nowrap">
                    <div class="text col-12 col-lg-8 p-5 text-center">
                        <p class="text-center">Qui eius voluptatem a esse nostrum sed <br> eius non saepe veritatis sit earum dolorum.
                        </p>
                        <button type="button" class="btn btn-outline-secondary btn-sm text-center">Voir plus <i class="fa-solid fa-arrow-right"></i>
                        </button>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-3 d-flex justify-content-center align-items-center">
                        <img class="spaceimg" src="{{ asset('images/IMG_6392.png') }}" style="width: 400px; height: 350px" alt="Enseigne Space&Cie">

                        <img class="logospace" src="{{ asset('images/space.png') }}" alt="Logo Space&Cie">
                    </div>
                </div>


            </div>
        </div>
{% endblock %}