{% extends 'base.html.twig' %}

{# Définition du titre de la page #}
{% block title %}GLGC{% endblock %}

{# Remplissage du body de la page #}
{% block body %}

    {# Logo du site #}
    <a class="navbar-brand" href="{{ path('main_home') }}">
        <img class="img-fluid main-navbar-logo" src="{{ asset('images/glgc.png') }}" alt="Logo glgc">
    </a>

    {# Affichage des boutons réservés aux administrateurs #}
    {% if is_granted('ROLE_ADMIN') %}

    {% endif %}

    {# Grille Bootstrap #}
    <div class="container-fluid">

        <div class="row">
            <div class="col-12 col-md-8 mx-auto my-5">

                <div class="carre">

                    <img class="quadripubimg" src="{{ asset('images/quadripub1.png') }}" alt="Enseigne Quadripub">

                    <img class="logoquadripub" src="{{ asset('images/quadripub.png') }}" alt="Logo Quadripub">

                </div>

            </div>

        </div>

            <div class="row">
                <h2 class="text-center">Enseigne et signalétique</h2>
            </div>

            <button type="button" class="btn btn-outline-secondary btn-sm">Voir plus <i class="fa-solid fa-arrow-right"></i>
            </button>


        {# Formulaire de contact footer #}
        <div class="row">
            <div class="col-12 col-md-4 mx-auto">
                {# Ouverture du formulaire #}
                {{ form_start( registrationForm ) }}

                {# Affichage des erreurs générales du formulaire #}
                {{ form_errors( registrationForm ) }}

                {# Champ name #}
                {{ form_row( registrationForm.name ) }}

                {# Champ email #}
                {{ form_row( registrationForm.email ) }}

                {# Champ phone #}
                {{ form_row( registrationForm.phone ) }}

                {# Champ message #}
                {{ form_row( registrationForm.message ) }}

                {# Bouton de validation #}
                {{ form_row( registrationForm.save ) }}

                {# Fermeture du formulaire #}
                {{ form_end( registrationForm ) }}

            </div>
        </div>

    </div>
{% endblock %}
