{% extends 'base.html.twig' %}

{# Définition du titre de la page #}
{% block title %}GLGC{% endblock %}

{# Remplissage du body de la page #}
{% block body %}

    {# Grille Bootstrap #}
    <div class="container"> {# OU container-fluid #}
        <div class="row">
            <div class="col-12">

                <h2 class="text-center">Enseigne et signalétique</h2>
                    <div class="col-12 p-5 d-flex flex-wrap flex-lg-nowrap">
                        <div class="col-12 col-lg-6 col-xl-3  d-flex justify-content-center align-items-center">

                        <img class="quadripubimg" src="{{ asset('images/quadripub1.png') }}" style="width: 400px; height: 350px" alt="Enseigne Quadripub">

                        <img class="logoquadripub" src="{{ asset('images/quadripub.png') }}" alt="Logo Quadripub">
                        </div>
                        <div class="text">
                            <div class="text col-12 col-lg-8 p-5">
                                <p class="text">QuadriPub, combine créativité et savoir-faire.<br> Graphistes, enseignistes, webdesigners et poseurs relèvent quotidiennement vos challenges.
                                </p>
                                <button type="button" class="btn btn-outline-secondary btn-sm text-center">Voir plus <i class="fa-solid fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                <h2 class="text-center">Stratégie et digitale</h2>
                <div class="col-12 p-5 d-flex flex-wrap flex-lg-nowrap">
                    <div class="text col-12 col-lg-8 p-5 text-center">
                        <p class="text">Spécialiste de la communication web, impression, signalétique,<br> réseaux sociaux, agencement...
                        </p>
                        <button type="button" class="btn btn-outline-secondary btn-sm text-center">Voir plus <i class="fa-solid fa-arrow-right"></i>
                        </button>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-3 d-flex justify-content-center align-items-center">
                        <div class="carre">
                            <img class="comimg" src="{{ asset('images/Com&Cie.jpg') }}" style="width: 400px; height: 350px" alt="Enseigne Com&Cie">
                            <img class="logocom" src="{{ asset('images/Group.png') }}" alt="Logo Com&Cie">
                        </div>
                    </div>
                </div>

                <h2 class="text-center">Vêtements Bourguignons</h2>
                <div class="col-12 p-5 d-flex flex-wrap flex-lg-nowrap">
                    <div class="col-12 col-lg-6 col-xl-3  d-flex justify-content-center align-items-center">

                        <img class="temeraireimg" src="{{ asset('images/temeraires.jpg') }}" style="width: 400px; height: 350px" alt="Enseigne Téméraires">

                        <img class="logotemeraire" src="{{ asset('images/temeraires.png') }}" alt="Logo Les Téméraires">
                    </div>
                    <div class="text">
                        <div class="text col-12 col-lg-8 p-5">
                            <p class="text">Marque Bourguignonne sans prétention !
                                Parce que nous en avions envie, découvrez nos t-shirts.
                            </p>
                            <button type="button" class="btn btn-outline-secondary btn-sm text-center">Voir plus <i class="fa-solid fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <h2 class="text-center">Design d'espece</h2>
                <div class="col-12 p-5 d-flex flex-wrap flex-lg-nowrap">
                    <div class="text col-12 col-lg-8 p-5 text-center">
                        <p class="text-center">Qui eius voluptatem a esse nostrum sed <br> eius non saepe veritatis sit earum dolorum.
                        </p>
                        <button type="button" class="btn btn-outline-secondary btn-sm text-center">Voir plus <i class="fa-solid fa-arrow-right"></i>
                        </button>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-3 d-flex justify-content-center align-items-center">
                        <img class="spaceimg" src="{{ asset('images/IMG_6392.png') }}" style="width: 400px; height: 350px" alt="Enseigne Space&Cie">

                        <img class="logospace" src="{{ asset('images/space.png') }}" alt="Logo Space&Cie">
                    </div>
                </div>


            </div>
        </div>
{% endblock %}