{% extends 'second.html.twig' %}

{# Définition du titre de la page #}
{% block title %}Administration{% endblock %}

{# Remplissage du body de la page #}
{% block body %}

    <div class="bg-gray-100">
        <div class="text-center">
            <a href="{{ path('main_home') }}">Page GLGC</a>
        </div>

        <div class="container mx-auto">
            {# Lien pour retourner au menu des navigations #}
            <div class="text-center my-3">
                <a href="{{ path('admin_') }}" class="text-blue-500 hover:text-blue-600 underline">Retour au menu de navigation</a>
            </div>
        </div>

    </div>

    <div class="overflow-x-auto">
        <h1 class="text-2xl lg:text-4xl text-center font-bold my-4">Liste des enseignes</h1>
        <table class="table-auto w-full border border-collapse">
            <thead>
            <tr class="bg-blue-500 text-white">
                <th class="px-4 py-2">Titre</th>
                <th class="px-4 py-2">Contenu</th>
                <th class="px-4 py-2">Image</th>
                <th class="px-4 py-2">Logo Image</th>
                <th class="px-4 py-2">Couleur Image</th>
                <th class="px-4 py-2">Actions</th>
            </tr>
            </thead>
            <tbody>

{#            {{ dump(enseignes) }}#}

            {% for enseigne in enseignes %}


                <tr class="bg-gray-100">
                    <td class="border px-4 py-2">{{ enseigne.title }}</td>
                    <td class="border px-4 py-2">{{ enseigne.content }}</td>
                    <td class="border px-4 py-2">
                        {% if enseigne.image is not null %}

                            <img class="w-32 h-50" src="{{ asset('/images/profils/' ~ enseigne.image) }}" alt="Image">

                        {% else %}
                            Aucune image
                        {% endif %}
                    </td>
                    <td class="border px-4 py-2">
                        {% if enseigne.imageLogo %}
                            <img class="w-20 h-20" src="{{ asset('/images/logo/' ~ enseigne.imageLogo) }}" alt="Logo Image">
                        {% else %}
                            Pas de logo
                        {% endif %}
                    </td>
                    <td class="border px-4 py-2">
                        {% if enseigne.color %}
                            <div style="width: 20px; height: 20px; background-color: {{ enseigne.color }};"></div>
                        {% else %}
                            Pas de couleur
                        {% endif %}
                    </td>
                    <td class="border px-4 py-2">
                        <a class="text-yellow-500" href="{{ path('enseigne_edit', {'id': enseigne.id}) }}">
                           Modifier
                        </a>

                        <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette enseigne ?')" href="{{ path('enseigne_delete', {id: enseigne.id, csrf_token: csrf_token('enseigne_delete' ~ enseigne.id)}) }}" class="text-red-500 text-decoration-none flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 me-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M6 18L18 6M6 6l12 12"></path>
                            </svg>
                            Supprimer
                        </a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}