{% extends 'second.html.twig' %}

{# Définition du titre de la page #}
{% block title %}Administration{% endblock %}

{# Remplissage du body de la page #}
{% block body %}

    <div class="bg-gray-100">
        <div class="text-center">
            <a href="{{ path('main_home') }}">Page GLGC</a>
        </div>

        <div class="container mx-auto">
            {# Lien pour retourner au menu des navigations #}
            <div class="text-center my-3">
                <a href="{{ path('admin_') }}" class="text-blue-500 hover:text-blue-600 underline">Retour au menu de navigation</a>
            </div>
        </div>

    </div>

    <div class="overflow-x-auto">
        <h1 class="text-2xl lg:text-4xl text-center font-bold my-4">Liste des enseignes</h1>
        <table class="table-auto w-full border border-collapse">
            <thead>
            <tr class="bg-blue-500 text-white">
                <th class="px-4 py-2">Titre</th>
                <th class="px-4 py-2">Contenu</th>
                <th class="px-4 py-2">Image</th>
                <th class="px-4 py-2">Logo Image</th>
                <th class="px-4 py-2">Couleur Image</th>
                <th class="px-4 py-2">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for enseigne in enseigne %}
                <tr class="bg-gray-100">
                    <td class="border px-4 py-2">{{ enseigne.title }}</td>
                    <td class="border px-4 py-2">{{ enseigne.content }}</td>
                    <td class="border px-4 py-2">
                        {% if enseigne.image %}
                            <img class="w-32 h-50" src="{{ asset('images/' ~ enseigne.image) }}" alt="Image">
                        {% else %}
                            Aucune image
                        {% endif %}
                    </td>
                    <td class="border px-4 py-2">
                        {% if enseigne.imageLogo %}
                            <img class="w-20 h-20" src="{{ asset('images/' ~ enseigne.imageLogo) }}" alt="Logo Image">
                        {% else %}
                            Pas de logo
                        {% endif %}
                    </td>
                    <td class="border px-4 py-2">
                        {% if enseigne.color %}
                            <div style="width: 20px; height: 20px; background-color: {{ enseigne.color }};"></div>
                        {% else %}
                            Pas de couleur
                        {% endif %}
                    </td>
                    <td class="border px-4 py-2">
                        <a class="text-yellow-700 mr-2" href="{{ path('enseigne_edit', {'id': enseigne.id}) }}">Modifier</a>
                        <a class="text-red-500" href="{{ path('enseigne_delete', {'id': enseigne.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}