{# Utilisation du squelette "base.html.twig" pour le front-office #}
{% extends 'base.html.twig' %}

{# Définition du titre de la page #}
{% block title %}Mentions légales{% endblock %}

{# Remplissage du body de la page #}
{% block body %}

    {# Hero #}
    <div class="relative aspect-[3/1]">
        <img src="{{ asset('images/Com&Cie_HD-55.jpg') }}" class="h-full w-full object-contain object-right" alt="Image groupe Glgc">

        <div class="absolute inset-0 bg-gradient-to-r from-blue-200/70 to-blue-700/70 w-3/4 sm:w-full">
            <div class="absolute inset-0 bg-gradient-to-r from-blue-200/70 to-blue-700/70 w-3/4 sm:w-full">
                <div class="absolute inset-0 bg-gradient-to-r from-blue-100/70 to-blue-700/70 w-3/4 sm:w-full">
                    <div class="absolute inset-0 bg-gradient-to-r from-blue-200/70 to-blue-700/70 w-3/4 sm:w-full">
                        <div class="absolute inset-0 bg-gradient-to-r from-blue-200/70 to-blue-700/70 w-3/4 sm:w-full">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="absolute inset-0 flex flex-col justify-center items-center">
            <img class="my-auto" src="{{ asset('images/Group-glgc.svg') }}" alt="Logo GLGC">

            <div class="space-y-4 pb-4">
                <p class="text-center uppercase">Groupe de communication</p>

                <a class="flex justify-center items-center h-8 w-8 mx-auto border border-black rounded-full animate-bounce" href="{{ path('main_home') }}">
                    <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                    </svg>
                </a>

            </div>
        </div>

    </div>

    <h1 class="uppercase  py-6 text-center">Mentions Légales</h1>

    {% for form in new_legal_notice_form %}
        <h2 class="text-center my-5">{{form.title }}</h2>

        {{ form.content|purify }}
        {# Ne pas oublier d'ajouter le 'purify', car sinon ça ajoutera toutes les balises HTML coté client #}

    {% endfor %}

{% endblock %}

